services:
  postgres:
    container_name: postgres_container
    image: postgres:14
    environment:
      POSTGRES_USER: denisgithuku
      POSTGRES_PASSWORD: 5ub05p4rg3
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
      - ../../postgres-init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      - backend

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - backend
    restart: unless-stopped

  redis:
    container_name: redis_container
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - backend
    restart: unless-stopped

  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:4-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672" # RabbitMQ Message Broker
      - "15672:15672" # RabbitMQ Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend
    restart: unless-stopped

  zookeeper:
    container_name: zookeeper_container
    ports:
      - "2181:2181"
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend

  kafka:
    container_name: kafka_container
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    networks:
      - backend
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  keycloak:
    container_name: keycloak_container
    ports:
      - "8433:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

    image: quay.io/keycloak/keycloak:26.4.7
    command: ["start-dev"]
    networks:
      - backend

  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    networks:
      - backend
  configserver:
    build: ../../configserver
    container_name: configserver_container
    ports:
      - "8888:8888"
    networks:
      - backend
    env_file:
      - ../../configserver/.env
    volumes:
      - ./configserver/src/main/resources:/config
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  eurekaserver:
    build: ../../eurekaserver
    container_name: eurekaserver_container
    ports:
      - "8761:8761"
    networks:
      - backend
    depends_on:
      - configserver
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway:
    build: ../../gateway
    container_name: gateway_container
    ports:
      - "8080:8080"
    networks:
      - backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      configserver:
        condition: service_healthy
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      keycloak:
        condition: service_started
      eurekaserver:
        condition: service_healthy


  notification:
    build: ../../notification
    container_name: notification_container
    ports:
      - "8084:8084"
    networks:
      - backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      configserver:
        condition: service_healthy
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      keycloak:
        condition: service_started
      eurekaserver:
        condition: service_healthy
      kafka:
        condition: service_started


  order:
    build: ../../order
    container_name: order_container
    ports:
      - "8083:8083"
    networks:
      - backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - POSTGRES_URL=${ORDERS_DB}
      - POSTGRES_USERNAME=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      configserver:
        condition: service_healthy
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      keycloak:
        condition: service_started
      eurekaserver:
        condition: service_healthy
      kafka:
        condition: service_started



  product:
    build: ../../product
    container_name: product_container
    ports:
      - "8081:8081"
    networks:
      - backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - POSTGRES_URL=${PRODUCTS_DB}
      - POSTGRES_USERNAME=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      configserver:
        condition: service_healthy
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      keycloak:
        condition: service_started
      eurekaserver:
        condition: service_healthy

  user:
    build: ../../user
    container_name: user_container
    ports:
      - "8082:8082"
    networks:
      - backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MONGO_URI=${MONGO_URI}
      - KEYCLOAK_USERNAME=${KEYCLOAK_USERNAME}
      - KEYCLOAK_PASSWORD=${KEYCLOAK_PASSWORD}
      - KEYCLOAK_SERVER_URL=${KEYCLOAK_SERVER_URL}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - KEYCLOAK_CLIENT_UID=${KEYCLOAK_CLIENT_UID}
      - SPRING_RABBITMQ_HOST=${SPRING_RABBITMQ_HOST}
      - SPRING_RABBITMQ_PORT=${SPRING_RABBITMQ_PORT}
      - SPRING_RABBITMQ_USERNAME=${SPRING_RABBITMQ_USERNAME}
      - SPRING_RABBITMQ_PASS=${SPRING_RABBITMQ_PASS}
      - SPRING_RABBITMQ_VHOST=${SPRING_RABBITMQ_VHOST}
    depends_on:
      configserver:
        condition: service_healthy
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      keycloak:
        condition: service_started
      eurekaserver:
        condition: service_healthy


networks:
  backend:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  rabbitmq_data:
