spring:
  application:
    name: configserver

  cloud:
    config:
      server:
        git:
          uri: https://github.com/DenisGithuku/ecommerce-microservices-configuration
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          default-label: main
#    inetutils:
#      preferred-networks:
#        - 127.0.0.1

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "busrefresh"

server:
  port: 8888